## Library

In [2]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import GetOldTweets3 as got
import pandas as pd

In [2]:
#Route for windows user
executable_path = {"executable_path": "chromedriver.exe"}

#Browser assignation
browser = Browser("chrome", **executable_path, headless=False)

### NASA MARS NEWS

In [3]:
browser.visit("https://mars.nasa.gov/news/")

html = browser.html
#return bs html
soup = bs(html, "html.parser")

#look for the news elements
news = soup.find_all("div", class_="slide slick-slide slick-active")

In [4]:
#look for the the very fisrt linkable title
title_link = news[0].find("div", class_="content_title").find("a").text[1:-1]

In [5]:
#click the first news
browser.links.find_by_text(title_link).click()

In [ ]:
soup_news = bs(browser.html, "html.parser")

In [ ]:
#soup_news

In [ ]:
news_title = soup_news.find("h1", class_="article_title").text[1:-1]
#news_title

In [ ]:
first_p = soup_news.find("div", class_= "wysiwyg_content").find_all("p")[1].text
first_p

### JPL MARS SPACE

In [ ]:
browser.visit("https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars")
html_jpl = bs(browser.html, "html.parser")

In [ ]:
image_url = html_jpl.find("a", class_= "button fancybox")["data-fancybox-href"]

In [ ]:
featured_image_url = f"https://www.jpl.nasa.gov{image_url}"

In [ ]:
featured_image_url

### MARS HEMISPHERES

In [ ]:
browser.visit("https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars")
html_hem = bs(browser.html, "html.parser")

In [ ]:
html_hem

In [ ]:
images = html_hem.find_all("div", class_="description")

In [ ]:
hem_list = []

for image in images:
    url = image.find("a")["href"]
    title_img = image.find("h3").text
    browser.visit(f"https://astrogeology.usgs.gov{url}")
    hem_img = bs(browser.html, "html.parser")
    img_url = hem_img.find("div", class_="downloads").find("a")["href"]
    hem_list.append({"title": title_img, "img_url" : img_url})
    
    
hem_list

In [6]:
browser.quit()

### MARS WEATHER TWITTER ACCOUNT

In [ ]:
#!pip install GetOldTweets3

In [ ]:
username = 'MarsWxReport'
#Query object
tweetCriteria = got.manager.TweetCriteria().setUsername(username).setMaxTweets(3)
#Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
#Getting the last tweet
last_tweet = tweets[0].text

In [ ]:
last_tweet

### MARS FACTS

In [3]:
tables = pd.read_html("https://space-facts.com/mars/")

In [5]:
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [6]:
mars_table = tables[0].rename(columns={0: "Variable", 1: "Value"})
mars_table

               Variable                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [ ]:
mars_table.to_html("ttable.html", index = False)